$montserrat: "Montserrat", sans-serif;
$josefin: "Josefin Sans", sans-serif;
$font400: 400;
$size20: 20;
$padding: 10px;
$margin: 15px;
$width: 50px;
$height: 50px;

* {
    margin: 0;
    padding: 0;
}
body {
    background-color: #ffccee;
}
.navbar {
    justify-content: center;
}
/* contenido index*/
#navbarNavAltMarkup {
    justify-content: center;
        .navbar-nav{
            text-decoration: none;
            font-family: $montserrat;
            font-weight: $font400;
            font-size: $size20;
            padding: $padding;
        }
}
.rowCarousel {
    justify-content: center;
} 
.paddingTb {
    padding-top: 45px;
    padding-bottom: 45px;
}
@mixin sizes($width, $height) {
    height: $height;
    width: $width;
}
.logos {
    @include sizes(50px, 50px);
}
/* fin contenido index */
/* contenido productos */
h2  {
    font-family: $josefin;
    font-weight:$font400 ;
    font-size: $size20 +10;
    padding: $padding +5;
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: #d09eff;
    color:#6295a1;
    text-align: center;
} 
.productosFlex {
    padding-bottom: 25px;
    display: flex;
    justify-content: space-around;
}
/* fin contenido product */
/*inicio etiquetas tabla de talles*/
.talles {
    display: inline;
    position: relative;
    left: 650px;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 400;
    font-size: 30px;
    padding: 50px;
    color: #9b6cc4;
}
.tituloTalles {
    text-align: center;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 500;
    font-size: 50px;
    margin: 15px;
    color: #6295a1;
}
.tablaTalles {
    display: inline;
    position: relative;
    left: 550px;
    padding-bottom: 25px;
}
/*fin etiquetas para tabla de talles*/
/*inicio etiquetas para somos majikku y contacto*/
h1 {
    text-align: center;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 500;
    font-size: 50px;
    padding: 30px;
    color: #6295a1;
}
/*fin etiquetas para somos majikku y contacto*/
/*inicio etiquetas para somos majikku*/
.somosMajikku {
    font-family: $josefin;
    font-weight: 500;
    font-size: 75px;
    text-align: center;
    padding: 15px;
    margin: 15px;
    color: #6295a1;
}
.hTres {
    font-family: "Josefin Sans", sans-serif;
    font-weight: 400;
    font-size: 25px;
    text-align: center;
    color: #9b6cc4;
    padding: 15px;
    margin: 25px;
    border: dashed 10px violet;
}
/*fin etiquetas para somos majikku*/
/*incio etiquetas para contacto*/
.input {
    display: inline;
    position: relative;
    left: 650px;
    bottom: 150px;
    width: 200px;
    height: 30px;
}
.mensaje {
    display: inline;
    position: relative;
    left: 180px;
    bottom: -50px;
    width: 300px;
    height: 150px;
}
.enviarMensaje {
    display: inline;
    position: relative;
    left: -100px;
    bottom: -75px;
}
.ubicacion {
    text-align: center;
    margin: 50px;
}
.mapa {
    display: inline;
    position: relative;
    left: 650px;
    bottom: 75px;
}
/*fin etiquetas para contacto*/
/* vista mobile */
@media only screen and (min-width:0px) and (max-width:767px) {
/* etiquetas productos */    
    .productosFlex {
        display: inline;
        position: relative;
        left: 30px;
    }
/* fin etiquetas productos */    
/* etiquetas tabla de talles */
    .tituloTalles {
        display: inline;
        position: relative;
        left: 10px;
        font-size: 25px;
    }
    .talles {
        display: none;
    }
    .tablaTalles {
        display: inline;
        position: relative;
        left: 15px;
    }   
/* fin etiquetas tabla de talles */
/* etiquetas contacto */
    h1 {
        text-align: left;
        font-size: 25px;
    }
    .input {
        display: inline;
        position: relative;
        left: 15px;
        bottom: 25px;
    }
    .mensaje{
        display: inline;
        position: relative;
        left: 15px;
        bottom: 10px;
    }
    .enviarMensaje {
        display: inline;
        position: relative;
        left: 15px;
        bottom:5px;
    }
    .ubicacion {
        display: inline;
        position: relative;
        left: -55px;
    }
    .mapa {
        display: inline;
        position: relative;
        left: 15px;
        bottom: -5px;
        width: 230px;
        height: 230px;
        margin-bottom: 15px;
    }
/* fin etiquetas contacto */     
}
/* fin vista mobile */
