<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Majikku, indumentaria femenina. La mejor ropa y accesorios los podés encontrar en nuestra tienda online. Corsets, remeras, polleras, carteras, buzos. Envíos a todo el país. ">
    <meta name="keywords"  content="ropa, indumentaria, moda, comprar, vestidos, remeras, polleras, carteras, corsets, buzos, tienda online, ventas">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <!--tipografias-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;600&display=swap" rel="stylesheet">
    <!--Css aos-->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <!--css principal-->
    <link rel="stylesheet" href="../css/estilo.css"/>
    <title>Productos Majikku</title>
</head>
<body>
    <!--logo-->
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-xs-12">
                <nav class="navbar navbar-light bg-light">
                    <a class="navbar-brand" href="../index.html">
                    <img src="../assets/img/logo.png" width="200" height="100" alt="logo">
                    </a>
                </nav>
            </div>
        </div>
    </div>
    <!--fin logo-->
    <!--nav-->
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-xs-12">
                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    <a class="navbar-brand" href="#">Navbar</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                        <a class="nav-link active" href="../index.html">Inicio <span class="sr-only">(current)</span></a>
                        <a class="nav-link active" href="productos.html">Productos <span class="sr-only">(current)</span></a>
                        <a class="nav-link active" href="tabla-de-talles.html">Tabla de Talles <span class="sr-only">(current)</span></a>
                        <a class="nav-link active" href="somos-majikku.html">Somos Majikku <span class="sr-only">(current)</span></a>
                        <a class="nav-link active" href="contacto.html">Contacto <span class="sr-only">(current)</span></a>
                    </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>
    <!--fin nav-->
    <!--div corsets-->
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-xs-12">
            <h2 class="hDos hCorset">Corsets</h2>
                <div class="productosFlex">
                    <img src="../assets/img/corset1.jpg" alt="corset1">
                    <img src="../assets/img/corset2.jpg" alt="corset2">
                    <img src="../assets/img/corset3.jpg" alt="corset3">
                </div> 
            </div>
        </div>
    </div>               
    <!--fin div corsets-->
    <h2 class="hDos hRemera">Remeras</h2>
    <!--div remeras-->
    <div  class="productosFlex">
        <img src="../assets/img/remera1.jpg" alt="remera1">
        <img src="../assets/img/remera2.jpg" alt="remera2">
        <img src="../assets/img/remera3.jpg" alt="remera3">            
    </div>    
    <!--fin div remeras-->
    <h2 class="hDos hVestidos">Vestidos</h2>
    <!--div vestidos-->
    <div  class="productosFlex">
        <img src="../assets/img/vestido1.jpg" alt="vestido1">
        <img src="../assets/img/vestido2.jpg" alt="vestido2">
    </div>    
    <!--fin div vestidos-->
    <h2 class="hDos hCarteras">Carteras</h2>
    <!--div carteras-->
    <div  class="productosFlex">
        <img src="../assets/img/cartera1.jpg" alt="cartera1">
        <img src="../assets/img/cartera2.jpg" alt="cartera2">
    </div>            
    <!--fin div carteras-->
    </section> 
    <!--footer-->      
    <div class="container-fluid">
        <footer class="row">
            <div class="col-lg-12 col-xs-12">
                <nav class="navbar navbar-light bg-light">
                    <div class="container">
                        <a class="navbar-brand" href="index.html">
                        <img src="../assets/img/logo.png" alt="logo" width="200" height="100" data-aos="flip-left"
                        data-aos-easing="ease-out-cubic"
                        data-aos-duration="2000">
                        </a>
                        <a class="navbar-brand" href="#">
                        <img src="../assets/img/whatsapp.png" alt="whatsapp" class="logos" >
                        </a>
                        <a class="navbar-brand" href="https://facebook.com">
                        <img src="../assets/img/facebook.png" alt="facebook" class="logos">
                        </a>
                        <a class="navbar-brand" href="https://instagram.com">
                        <img src="../assets/img/instagram.png" alt="instagram" class="logos">
                        </a>
                        <a class="navbar-brand" href="#">
                        <img src="../assets/img/american.png" alt="american" class="logos" >
                        </a>
                        <a class="navbar-brand" href="#">
                        <img src="../assets/img/visa.png" alt="visa" class="logos">
                        </a>
                    </div>
                </nav>
            </div>
        </footer>
    </div>
    <!--fin footer-->
    <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>    
</body>
</html>