<!DOCTYPE html>
<html lang="es">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Majikku, indumentaria femenina. La mejor ropa y accesorios los podés encontrar en nuestra tienda online. Corsets, remeras, polleras, carteras, buzos. Envíos a todo el país. ">
    <meta name="keywords"  content="ropa, indumentaria, moda, comprar, vestidos, remeras, polleras, carteras, corsets, buzos, tienda online, ventas">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <!--Css aos-->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <!--css principal-->
    <link rel="stylesheet" href="../css/estilo.css"/>
    <title> Somos Majikku</title>
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-xs-12">
                <nav class="navbar navbar-light bg-light">
                    <a class="navbar-brand" href="../index.html">
                    <img src="../assets/img/logo.png" width="200" height="100" alt="logo">
                    </a>
                </nav>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-xs-12">
                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    <a class="navbar-brand" href="#">Navbar</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                        <a class="nav-link active" href="../index.html">Inicio <span class="sr-only">(current)</span></a>
                        <a class="nav-link active" href="productos.html">Productos <span class="sr-only">(current)</span></a>
                        <a class="nav-link active" href="tabla-de-talles.html">Tabla de Talles <span class="sr-only">(current)</span></a>
                        <a class="nav-link active" href="somos-majikku.html">Somos Majikku <span class="sr-only">(current)</span></a>
                        <a class="nav-link active" href="contacto.html">Contacto <span class="sr-only">(current)</span></a>
                    </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>
        <section>
            <h1 class="somosMajikku">Somos Majikku</h1>
            <h3 class="hTres">Majikku es una marca que surge de la necesidad de traer algo mágico, especial y único a estos tiempos tan oscuros.Todas las piezas son únicas y están hechas con el objetivo de ser productos conscientes pero manteniendo el diseño y la estética que lo caracteriza.
            Espero que me acompañen y me comprometo a ir incorporando técnicas más sustentables y más talles a medida que la marca crezca.
            </h3>
        </section>
        <div class="container-fluid">
            <footer class="row">
                <div class="col-lg-12 col-xs-12">
                    <nav class="navbar navbar-light bg-light">
                        <div class="container">
                            <a class="navbar-brand" href="../index.html">
                            <img src="../assets/img/logo.png" alt="logo" width="200" height="100">
                            </a>
                            <a class="navbar-brand" href="#">
                            <img src="../assets/img/whatsapp.png" alt="whatsapp" width="50" height="50">
                            </a>
                            <a class="navbar-brand" href="https://facebook.com">
                            <img src="../assets/img/facebook.png" alt="facebook" width="50" height="50">
                            </a>
                            <a class="navbar-brand" href="https://instagram.com">
                            <img src="../assets/img/instagram.png" alt="instagram" width="50" height="50">
                            </a>
                            <a class="navbar-brand" href="#">
                            <img src="../assets/img/american.png" alt="american" width="50" height="50">
                            </a>
                            <a class="navbar-brand" href="#">
                            <img src="../assets/img/visa.png" alt="visa" width="50" height="50">
                            </a>
                        </div>
                    </nav>
                </div>
            </footer>
        </div>
</body>
</html>