<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- SEO -->
    <meta name="description" content="Majikku, indumentaria femenina. La mejor ropa y accesorios los podés encontrar en nuestra tienda online. Corsets, remeras, polleras, carteras, buzos. Envíos a todo el país. ">
    <meta name="keywords"  content="ropa, indumentaria, moda, comprar, vestidos, remeras, polleras, carteras, corsets, buzos, tienda online, ventas">
    <!-- Tipografias -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;600&display=swap" rel="stylesheet">
    <!-- Css Aos -->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <!-- Css Principal -->
    <link rel="stylesheet" href="../css/estilo.css"/>
    <title>Somos Majikku</title>
</head>
<body>
    <!-- header -->
    <header>
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 col-xs-12">
                    <nav class="navbar navbar-light bg-light">
                        <a class="navbar-brand" href="../index.html">
                        <img src="../assets/img/logo.png" width="200" height="100" alt="logo" class="logoPrincipal">
                        </a>
                    </nav>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 col-xs-12">
                    <nav class="navbar navbar-expand-lg navbar-light bg-light">
                        <a class="navbar-brand" href="#"></a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                        <div class="navbar-nav">
                            <a class="nav-link active" href="../index.html">Inicio <span class="sr-only">(current)</span></a>
                            <a class="nav-link active" href="productos.html">Productos <span class="sr-only">(current)</span></a>
                            <a class="nav-link active" href="tabla-de-talles.html">Tabla de Talles <span class="sr-only">(current)</span></a>
                            <a class="nav-link active" href="somos-majikku.html">Somos Majikku <span class="sr-only">(current)</span></a>
                            <a class="nav-link active" href="contacto.html">Contacto <span class="sr-only">(current)</span></a>
                        </div>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- fin header-->
    <!--section texto-->
    <section>
        <h1 class="somosMajikku">Somos Majikku</h1>
        <h3 class="hTres">Majikku es una marca que surge de la necesidad de traer algo mágico, especial y único a estos tiempos tan oscuros.Todas las piezas son únicas y están hechas con el objetivo de ser productos conscientes pero manteniendo el diseño y la estética que lo caracteriza.
        Espero que me acompañen y me comprometo a ir incorporando técnicas más sustentables y más talles a medida que la marca crezca.
        </h3>
    </section>
    <!--fin section texto-->    
    <!--footer-->
    <div class="container-fluid padding">
        <footer class="row">
            <div class="col-lg-12 col-xs-12">
                <img src="../assets/img/logo.png" class="logo" alt="logo">
                <h4 class="redes">Redes Sociales</h4> 
                <img src="../assets/img/instagram.png" class="iconos instagram" alt="instagram">
                <img src="../assets/img/facebook.png" class="iconos facebook" alt="facebook">
                <h4>Contacto</h4>
                <img src="../assets/img/gmail.png" class="gmail" alt="gmail">
            </div>
        </footer>
    </div>
    <div class="container-fluid">
        <div class="row ">
            <div class="col-lg-12 col-xs-12  ">
                <h5>Copyright Majikku- 2021. Todos los derechos reservados.</h5>
            <div class="col-lg-12 col-xs-12 hola">    
                <h5>Desarrollado por Iván Aybar.</h5>
            </div>
        </div>
    </div>               
    <!--fin footer-->
    <!-- Css Aos -->
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>
    <!-- Bootstrap CSS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
</body>
</html>